{% extends "network/layout.html" %}

{% load static %}

{% block otherStatics %}
    <script src="{% static 'network/indexForStyles.js' %}"></script>
{% endblock%}

{% block body %}
    <form action="{% url 'index' %}" method="POST" class="newPostArea">
        {% csrf_token %}

        {{ newPostForm }}

        <button id="submitNewPost" class="btn btn-primary" button>Post</button>
    </form>

    <div class="postsContainer">
        <h2>Latest posts:</h2>

        {% for post in allPosts %}
            <div class="post">
                <h3>
                    <a href="{% url 'profilePage' post.poster.id %}">{{ post.poster }}</a> says
                </h3>
                <p>{{ post.content }}</p>
                <em>{{ post.timestamp }}</em>
                <br>
                <strong>Likes {{ post.likes }}</strong>
                <br>
            </div>
        {% endfor %}
    </div>
{% endblock %}
