{% extends './layout.html' %}

{% load static %}

{% block title %}
	Profile Page
{% endblock %}

{% block otherStatics %}
	<script src="{% static 'network/JS/utilityFunctions.js' %}" type="text/javascript"></script>
	<script src="{% static 'network/JS/relatedToPagination.js' %}" type="text/javascript"></script>
	<script src="{% static 'network/JS/relatedToPosts.js' %}" type="text/javascript"></script>
	<script src="{% static 'network/JS/relatedToFollowUnfollow.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		/* GLOBAL VARIABLES */
		var currentNavigationPage;
		
		/* GLOBAL VARIABLES FROM DJANGO */
		const isUserAuthenticated = convertPythonBooleanToJsBoolean('{{ user.is_authenticated }}');
		const profileId = Number.parseInt('{{ profile_id }}');
		
		var visitorIsFollowing = convertPythonBooleanToJsBoolean('{{ visitor_is_following }}');
		var numOfFollowers = Number.parseInt('{{ n_of_followers }}');

		const solidHeartIconSource = '{% static "network/icons/heart-solid.png" %}';
		const openHeartIconSource = '{% static "network/icons/heart-regular.png" %}';
		const editIconSource = '{% static "network/icons/editIcon.png" %}';
	</script>
{% endblock %}

{% block body %}
	<div class="container-sm profileContainer">
		<div>
			<img src="{% static 'network/images/profileImage.png' %}" alt="Profile image">
			<h3>
				<strong>{{ username }}</strong>
			</h3>
			
			<h4 class="followNumbers">
				<strong id="following">{{ n_following }}</strong> following
				<strong id="followers">{{ n_of_followers }}</strong> followers
			</h4>
		</div>
		
		{% if user.is_authenticated and user.username != username %}
			<button type="button" id="followBtn" class="btn btn-primary">
				{% if visitor_is_following %}
					Unfollow
				{% else %}
					Follow
				{% endif %}
			</button>
		{% endif %}
	</div>

	<div class="postsContainer">
		<h2>Latest posts:</h2>

		<div id="postsWrapper">
            <!-- Posts from AJAX will be generated here -->
		</div>
		
		<nav aria-label="Page navigation">
			<ul class="pagination">
			  <li class="page-item">
				  <button id="previousPage" class="page-link">Previous</button>
			  </li>
			  
			  {% for i in page_range %}
				  <li class="page-item">
					  <button class="page-link page-number">{{ forloop.counter }}</button>
				  </li>
			  {% endfor %}
			  
			  <li class="page-item">
				  <button id="nextPage" class="page-link">Next</button>
			  </li>
			</ul>
		  </nav>
	</div>
{% endblock %}
