{% extends './layout.html' %}

{% load static %}

{% block title %}
	Profile Page
{% endblock %}

{% block otherStatics %}
	<script type="text/javascript">

		var currentNavigationPage;
		var isUserAuthenticated = convertPythonBooleanToJsBoolean('{{ user.is_authenticated }}');
		
		// JAVASCRIPT RELATED TO PAGINATION
		
		document.addEventListener('DOMContentLoaded', function() {
			// navigate to the first page when first time
			navigateTo(1);
			markAsActive(currentNavigationPage);
			
			document.querySelectorAll('.page-number').forEach((pageNum) => {
				pageNum.addEventListener('click', handlePaginationByNumbers);
			});

			document.querySelector('#previousPage').addEventListener('click', handlePaginateToPreviousPage);
			document.querySelector('#nextPage').addEventListener('click', handlePaginateToNextPage);
		});

		function handlePaginateToPreviousPage() {
			currentNavigationPage--;
			navigateTo(currentNavigationPage);

			deactivateAllPageItems('.page-item');
			markAsActive(currentNavigationPage);
		}

		function markAsActive(currentPageNumber) {
			navigationNumberButtons = document.querySelectorAll('.page-number');

			navigationNumberButtons.forEach(pageNumButton => {
				if (pageNumButton.innerHTML == currentPageNumber) {
					pageNumButton.parentNode.classList.add('active');
					return;
				}
			});
		}

		function handlePaginateToNextPage() {
			currentNavigationPage++;
			navigateTo(currentNavigationPage);

			deactivateAllPageItems('.page-item');
			markAsActive(currentNavigationPage);
		}

		// JAVASCRIPT RELATED TO POSTS STUFF		

		function fetchPostsPage(pageNumber=1) {
			// Using a variable from django
			const profileId = {{ profile_id }};
			
			fetch(`/getPostsPage/${pageNumber}/${profileId}`)
			.then(response => response.json())
			.then(postsPage => {
				generatePosts(postsPage.currentPagePosts);

				handleHideShow(postsPage.hasPrevious, 'previousPage');
				handleHideShow(postsPage.hasNext, 'nextPage');
			})
			.catch(err => console.log(err));
		}

		function generatePosts(currentPagePostsData) {
            const postsContainer = document.querySelector('#postsWrapper');
            
            postsContainer.innerHTML = '';
            currentPagePostsData.forEach(postData => {
                const post = document.createElement('div');
                
                post.setAttribute('class', 'post');
                post.setAttribute('id', `post${postData.id}`);
                post.innerHTML = `
                    <h3>
                        <a href="/profile/${postData.poster.id}">${postData.poster.username}</a> says
                    </h3>
                    <p>${postData.content}</p>
                    <em>${postData.timestamp}</em>
                    <br>
                `;
                
                if (isUserAuthenticated) {
                    const likeIcon = generateLikeIcon(postData);
                    post.append(likeIcon);

                    // add the event handler when the like icon is available
                    observeElementResolveWhenAvailable(`#likeIcon${postData.id}`)
                    .then(likeIcon => likeIcon.onclick = () => handleLikeDislike(postData))
                    .catch(err => console.log(err));
                }

                post.innerHTML += `
                    <strong class="numLikes">${postData.number_likes}</strong>
                    <br>
                `;

                postsContainer.append(post);
            });
        }

        function generateLikeIcon(postData) {
            let likeIcon = document.createElement('img');

            likeIcon.setAttribute('class', 'likeIcon');
            likeIcon.setAttribute('id', `likeIcon${postData.id}`);
            
            if (postData.does_current_visitor_like_this_post) {
                likeIcon.setAttribute('src', '{% static "network/icons/heart-solid.png" %}');
            } else {
                likeIcon.setAttribute('src', '{% static "network/icons/heart-regular.png" %}');
            }
            
            return likeIcon;
        }

        function observeElementResolveWhenAvailable(selector) {
            return new Promise((resolve, reject) => {
                const observer = new MutationObserver(function(mutationsList, observer) {
                    const element = document.querySelector(selector);
                    
                    // verify if the element is available
                    if (element) {
                        observer.disconnect();
                        resolve(element);
                    }
                });

                // the observer is going to watch for document changes
                const targetNode = document;
                const config = { childList: true, subtree: true };

                observer.observe(targetNode, config); 
            });
        }

        function handleLikeDislike(postData) {            
            if (postData.does_current_visitor_like_this_post) {
                // dislike
                postData.number_likes--;
            } else {
                // like
                postData.number_likes++;
            }
            
            postData.does_current_visitor_like_this_post = ! postData.does_current_visitor_like_this_post;

            fetch(`/handleLikeDislike/${postData.id}`, {
                method: 'PUT',
                body: JSON.stringify({
                    does_current_visitor_like_this_post: postData.does_current_visitor_like_this_post,
                    number_likes: postData.number_likes
                }),
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
            .then(response => response.json())
            .then(data => {
                const post = document.querySelector(`#post${data.id}`);

                post.querySelector('.numLikes').innerHTML = data.number_likes;

                const likeIcon = post.querySelector(`#likeIcon${data.id}`);

                if (postData.does_current_visitor_like_this_post) {
                    likeIcon.setAttribute('src', '{% static "network/icons/heart-solid.png" %}');
                } else {
                    likeIcon.setAttribute('src', '{% static "network/icons/heart-regular.png" %}');
                }
            })
            .catch(err => console.log(err));
		}
		
		function handleHideShow(hasThisPage, pageId) {
			const page = document.querySelector(`#${pageId}`);
			
			if (hasThisPage)
				page.style.display = 'block';
			else
				page.style.display = 'none'
		}

		function handlePaginationByNumbers() {
			const pageNumber = this.innerHTML;
			navigateTo(pageNumber);

			deactivateAllPageItems('.page-item');
			markAsActive(currentNavigationPage);
		}

		function navigateTo(pageNumber) {
			fetchPostsPage(pageNumber);
			currentNavigationPage = pageNumber;
		}

		function deactivateAllPageItems(className) {
			const pageItems = document.querySelectorAll(className);
			
			pageItems.forEach(item => {
				item.classList.remove('active');
			});
		}

		/* JAVASCRIPT RELATED TO FOLLOWING */
		document.addEventListener('DOMContentLoaded', function() {
			const followBtn = document.querySelector('#followBtn');
			
			if (followBtn !== null)
				followBtn.onclick = toggleFollowUnfollow;
		});

		// Using some variables from django
		var visitorIsFollowing = convertPythonBooleanToJsBoolean('{{ visitor_is_following }}');
		var numOfFollowers = {{ n_of_followers }};

		function toggleFollowUnfollow() {
			const csrftoken = getCookie('csrftoken');

			fetch("{% url 'profilePage' profile_id %}", {
				method: 'PUT',
				body: JSON.stringify({
					visitor_is_following: ! visitorIsFollowing,
				}),
				headers: {
					'X-CSRFToken': csrftoken
				}
			})
			.then(response => response.json())
			.then(data => {
				visitorIsFollowing = ! visitorIsFollowing;
				// update information because visitorIsFollowing has changed
				updateNumOfFollowers(visitorIsFollowing);
				updateFollowButton(visitorIsFollowing);
			})
			.catch(err => console.log(err));
		}

		function updateNumOfFollowers(visitorIsFollowing) {
			if (visitorIsFollowing)
				numOfFollowers++;
			else
				numOfFollowers--;
			
			document.querySelector('#followers').innerHTML = numOfFollowers;
		}

		function updateFollowButton(visitorIsFollowing) {
			const followBtn = document.querySelector('#followBtn');

			if (visitorIsFollowing)
				followBtn.innerHTML = 'Unfollow';
			else
				followBtn.innerHTML = 'Follow';
		}

		function convertPythonBooleanToJsBoolean(input) {
			try {
				if (input === 'False')
	        		return false;
				else if (input === 'True')
					return true;
				else
					throw 'Invalid argument';
			} catch(err) {
				console.log(`Error: ${err}`);
			}
		}

		function getCookie(name) {
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');

				for (let i = 0; i < cookies.length; i++) {
					let cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		            	var cookieValue = null;
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
				}
			}
			return cookieValue;
		}
	</script>
{% endblock %}

{% block body %}
	<div class="container-sm profileContainer">
		<div>
			<img src="{% static 'network/images/profileImage.png' %}" alt="Profile image">
			<h3>
				<strong>{{ username }}</strong>
			</h3>
			
			<h4 class="followNumbers">
				<strong id="following">{{ n_following }}</strong> following
				<strong id="followers">{{ n_of_followers }}</strong> followers
			</h4>
		</div>
		
		{% if user.is_authenticated and user.username != username %}
			<button type="button" id="followBtn" class="btn btn-primary">
				{% if visitor_is_following %}
					Unfollow
				{% else %}
					Follow
				{% endif %}
			</button>
		{% endif %}
	</div>

	<div class="postsContainer">
		<h2>Latest posts:</h2>

		<div id="postsWrapper">
            <!-- Posts from AJAX will be generated here -->
		</div>
		
		<nav aria-label="Page navigation example">
			<ul class="pagination">
			  <li class="page-item">
				  <button id="previousPage" class="page-link">Previous</button>
			  </li>
			  
			  {% for i in page_range %}
				  <li class="page-item">
					  <button class="page-link page-number">{{ forloop.counter }}</button>
				  </li>
			  {% endfor %}
			  
			  <li class="page-item">
				  <button id="nextPage" class="page-link">Next</button>
			  </li>
			</ul>
		  </nav>
	</div>
{% endblock %}
