.postsContainer {
	max-width: 40em;
	margin: auto;

	.post {
		margin: auto;
		margin-bottom: 1em;
		padding: 1em;

		border-radius: 0.4em;
		border: 0.075em solid $gray;

		textarea {
			padding: 0.8em;
			border-radius: 0.4em;
			width: 100%;
		}

		.icons {
			display: flex;
			align-items: center;
			
			.actionsContainer {
				margin-left: 1em;
			}
		}
	}
}
