* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

// COLORS
$gray: rgb(175, 175, 175);
$light_gray: rgb(209, 209, 209);

// ANIMATIONS
$flutteredAnimation: cubic-bezier(.68,-0.55,.27,1.55);
