.newPostForm {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	min-height: 55px;
	margin-bottom: 1.6em;
	padding: 0.6em;

	background-color: $light_gray;

	#newPost {
		margin-right: 0.6em;
		width: 30em;
		height: 2.5em;
		resize: none;

		border-radius: 3.125em;
		border: 0.075em solid $gray;

		transition: all 250ms $flutteredAnimation;
	
		&:focus {
			height: 9.375em;
			width: 34em;
		}
	}

	#submitNewPost {
		width: 4.5em;
		border-radius: 3.125em;

		transition: all 250ms ease-in-out;
	}
}
